
      #logo{
        margin-top: 14%;
    }
    #welcome{
        margin-top: 3%;
        }
    #slogan{
        margin-top: 2%;
    }
    #mouse{
        margin-top: 11%;
    }
  

.h1{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 1000;
  font-weight: bolder;
}
.p{
  position: absolute;
  top: 65%;
  text-align: center;
  right: 30%;
  text-transform: uppercase;
 font-size: 13px;
}
.img2{
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img3{
  position: relative;
  top: 100px;
  cursor: pointer;

}  

.h3{
  text-align: center;
}
.p1{
  text-align: center;
  font-size: medium;
  font-weight:bold 30% ;
}

.h4{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 1000;
  font-weight: bolder;
}

.h5{
  text-align: center;
}
.icon1{
  position: absolute;
  left:20%;
  text-align: center;
 cursor: pointer;
}
.icon2{
  position: absolute;
  left : 45%;
  text-align: center;
  cursor: pointer;
}
.icon3{
  position: absolute;
  right:10% ;
  text-align: center;
  cursor: pointer;

}
.p2{
  text-align: center;
  font-size: small;
  top: 40%;
  left: 70%;
}
.h5{
  text-align: center;
}

#name{
  position: absolute;
  left: 18%;
  width: 30%;
}
#email{
  position: absolute;
  left: 10%;
  background-color: none;
  width: 30%;
}
.form-control:focus{
  background-color:none;
}


#h6{
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-family: 'Fredoka One', cursive;
}

.img12{
  position: absolute;
  left:25% ;
  cursor: pointer;
}
.img13{
  position: absolute;
  left:30% ;
  cursor: pointer;
}
.img14{
  position: absolute;
  left:35% ;
  cursor: pointer;
}
.img15{
  position: absolute;
  left:40% ;
  cursor: pointer;
}
.img16{
  position: absolute;
  left:45% ;
  cursor: pointer;
}
.img17{
  position: absolute;
  left:50% ;
  cursor: pointer;
}
.img18{
  position: absolute;
  left:55% ;
  cursor: pointer;
}
.img19{
  position: absolute;
  left:60% ;
  cursor: pointer;
}
.img20{
  position: absolute;
  left:65% ;
  cursor: pointer;
}
.img21{
  position: absolute;
  left:70% ;
  cursor: pointer;
}
.delani2020{
  text-align: center;
}
.p3{
  position: absolute;
  left:0%;
  text-align: center;
  display: none;
  cursor: pointer;
  
}
.p4{
  position: absolute;
  left : 33%;
  text-align: center;
  display: none;
  cursor: pointer;
}
.p5{
  position: absolute;
  right:0%;
  text-align: center;
  display: none;
  cursor: pointer;
}

#email{
  width: 30%;
  background: transparent;
  right: 60%;
}
#names{
  position: absolute;
  left: 35%;
  background: transparent;
}

.portfolio :hover{
  background-color: white;
  opacity: 0.2;
}
.jim,.polygon,.ontario,.dark,.elena,.form,.burned,.giraffe{
  margin-top: -120px;
  position: relative;
  display: none;
}
#contactsTitle{
  margin-top: 20px;
}
#names,#email,#textarea{
  background: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  width:70% ;
}
input[type="text"]::-webkit-input-placeholder {
  color:white;
}
input[type="email"]::-webkit-input-placeholder {
  color:white;
}
textarea.form-control::placeholder {
  color:white;
}
#textArea{
  margin-top: 3px;
  background: transparent;
  left: 10%;
}
#sendButton{
  padding-top: 4px;
  background: transparent;
  color: white;
}

